@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
a {
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  text-align: right;
}
.hero {
  margin-top: 75px;
}
.tabs {
  border-bottom: 1px solid #ffc803d4;
}
a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}
a:hover {
  background-color: #222;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* الخلفية الشفافة للمودال */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* المودال نفسه */
.modal-class {
  position: relative;
  background-color: white;
  padding: 0;
  border-radius: 8px;
  max-width: 100%;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}
.btn {
  font-size: 18px;
  border: 1px solid #fcd71dd6;
  border-radius: 20px;
  padding: 2px 5px;
}
.btn:hover {
  background: #3c0404;
  color: gold;
}
.logo:hover {
  background-color: transparent;
}
.slick-slider {
  overflow: hidden;
  position: relative;
}
.slick-list {
  margin: 0;
  padding: 0;
}
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Custom scroll for sidebar */
.custom-sidebar-scroll {
  overflow-y: auto;
}

.custom-sidebar-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.custom-sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Custom scroll for main content container */
.custom-main-scroll {
  overflow-y: auto;
}

.custom-main-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-main-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.custom-main-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
