@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
a {
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl; /* تغيير الاتجاه إلى اليمين */
  text-align: right;
}
.tabs {
  border-bottom: 1px solid #ffc803d4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* الخلفية الشفافة للمودال */
.modal-overlay {
  position: fixed; /* تأكيد أن المودال ثابت فوق الشاشة */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* خلفية شفافة */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* إعطاء قيمة z-index كبيرة لظهور المودال فوق العناصر الأخرى */
}

/* المودال نفسه */
.modal-class {
  position: relative;
  background-color: white;
  padding: 0;
  border-radius: 8px;
  max-width: 100%;
  width: 90%;
  max-width: 700px; /* عرض المودال */
  margin: 0 auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 10000; /* تأكيد أن المودال نفسه فوق الخلفية */
}
