@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  text-align: right;
}

/**************************** hero ********************************/
.hero {
  margin-top: 65px;
  position: relative;
  background-image: url("../components/assets/images/hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  z-index: 1;
}

.hero.dark .hero-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.hero.light .hero-overlay {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
}
/**************************** global components **********************/
.tabs {
  border-bottom: 1px solid #ffc803d4;
}
.menu {
  backdrop-filter: blur(10px);
  top: 70px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}
.btn {
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #e2dfecd6;
  box-shadow: 2px 2px 5px 0px #1f29517d;
  backdrop-filter: blur(10px);
  background-color: #645ecc6d;
  border-radius: 15px;
  padding: 5px 20px;
  transition: 0.3s;
}
.btn:hover {
  border: 1px solid #3ef50bd6;
}
.fixed-btn {
  transition: 0.3s;
  box-shadow: 5px 5px 15px 0px #1f2951;
  background: transparent;
}
.fixed-btn:hover {
  scale: 1.1;
}
.btn-submit {
  background-color: #1d45e2;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid transparent;
}
.btn-submit:hover {
  background-color: transparent;
  border: 2px solid #0425aa;
}
.logo:hover {
  background-color: transparent;
}
/******************** services slider******************/

.slick-slider {
  overflow: hidden;
  position: relative;
}
.slick-list {
  margin: 0;
  padding: 0;
}
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
/***************** about section ********************/
.about {
  min-height: 50vh;
}
/**************************** navbar **********************/
.navbar {
  backdrop-filter: blur(10px);
}
.nav-item {
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
  margin: 0 5px;
}
.nav-item:hover {
  box-shadow: 0px 1px 7px #e70f0fc6;
}
.active {
  box-shadow: 0px 1px 7px #038e05b7;
  color: #0425aa;
}
/*********dard and light mood**************/
.dark-bg-1 {
  background-color: rgb(38, 21, 58);
  color: #fff;
}
.dark-bg-2 {
  background-color: rgb(11, 0, 21);
  color: #fff;
}
.light-bg-1 {
  background-color: rgb(215, 185, 239);
  color: #000000;
}
.light-bg-2 {
  background-color: rgb(213, 240, 247);
  color: #000000;
}
.shadow-dark {
  box-shadow: 5px 5px 7px #ffffff4e;
}
.shadow-light {
  box-shadow: 5px 5px 7px #250a0a74;
}
/**************************** login **********************/
.login {
  box-shadow: 0px 7px 15px #01042d57;
}
.login input {
  box-shadow: 0px 7px 15px #01042d57;
}

/**************************** modal **********************/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-class {
  position: relative;
  background-color: white;
  padding: 0;
  border-radius: 8px;
  max-width: 100%;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

/************* Custom scroll for sidebar ***************/
.custom-sidebar-scroll {
  overflow-y: auto;
}

.custom-sidebar-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.custom-sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/************* Custom scroll for main content container ***************/
.custom-main-scroll {
  overflow-y: auto;
}

.custom-main-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-main-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.custom-main-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/****************loding page*****************/

@keyframes spin-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-counterclockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animate-spin-clockwise {
  animation: spin-clockwise 3s linear infinite;
}

.animate-spin-counterclockwise {
  animation: spin-counterclockwise 3s linear infinite;
}
