/* dashboard.css */
.sidebar-button {
  transition: background-color 0.3s, color 0.3s; /* تأثير التحويل */
  padding: 10px; /* إضافة مسافة داخلية */
  border-radius: 5px; /* إضافة زوايا مستديرة */
}

.sidebar-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: yellow;
}

.bg-gray-800 .sidebar-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main {
  min-height: 100vh;
}

.content {
  width: 100%;
}

.bottom-navigation {
  display: none;
}
.active {
  background-color: blue;
}
@media (max-width: 768px) {
  .bottom-navigation {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e0e0e0;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 10;
  }

  .sidebar {
    display: none;
  }
}
